Flask==0.10.1
Flask-Assets==0.8
Flask-Login==0.2.6
Flask-SQLAlchemy==1.0
Jinja2==2.7
MarkupSafe==0.18
SQLAlchemy==0.8.2
Werkzeug==0.9.3
argparse==1.2.1
gunicorn~>19.5.0
ipython==1.0.0
itsdangerous==0.22
psycopg2==2.5.1
readline==6.2.4.1
webassets==0.8
wsgiref==0.1.2
yuicompressor==2.4.7
